:root {
  --light--screen--color: #ffffff;
  --dark--screen--color: #000000;

  --light--60--color: #f0ede5;
  --light--inner--60--color: #000000;

  --light--banner--color: #ffffff;
  --dark--banner--color: #c9c9c9;

  --light--30--color: #d13439;
  --light--inner--30--color: #000000;
  --light--hover--30--color: #f78a42;

  /* --light--10--color: #37bdbf;
  --light--inner--30--color: #c32727; */

  --dark--60--color: #424242;
  --dark--inner--60--color: #ffffff;

  --dark--30--color: #4d0204;
  --dark--inner--30--color: #ffffff;
  --dark--hover--30--color: #664646;
  /* --dark--10--color: #37bdbf;
  --dark--inner--30--color: #c32727; */

  --bs-primary: #3498db;
  --bs-secondary: #2ecc71;
  --bs-success: #28a745;
  --bs-info: #17a2b8;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;
}
/* Désactive tous les styles des liens et les met en noir */
/* Styles au survol des liens */
a:hover {
  color: #2a2f34; /* Couleur du texte au survol */
  /* text-decoration: underline; Soulignement au survol */
  cursor: pointer; /* Curseur de la souris en forme de main */
}
a {
  text-decoration: none; /* Supprime les soulignements */
  color: black; /* Change la couleur du texte en noir */
  font-weight: normal; /* Réinitialise le poids de la police */
  font-style: normal; /* Réinitialise le style de la police */
  background-color: transparent; /* Réinitialise la couleur de fond */
  border: none; /* Supprime toute bordure */
  padding: 0; /* Supprime les marges internes */
  margin: 0; /* Supprime les marges */
  text-shadow: none; /* Supprime toute ombre de texte */
  text-transform: none; /* Réinitialise la transformation du texte */
  box-shadow: none; /* Supprime toute ombre de boîte */
  outline: none; /* Supprime le contour */
}

.bg-page {
  background-color: var(--light--screen--color);
}
.bg-60 {
  background-color: var(--light--60--color);
}
.bg-30 {
  background-color: var(--light--30--color);
}
/* a {
  color: white;
} */

.object-none {
  object-fit: none;
}

body.theme-dark {
  --bs-body-bg: #121212; /* Fond général en mode sombre */
  --bs-body-color: #ffffff; /* Couleur du texte général en mode sombre */

  --bs-primary: #2980b9; /* Ajustez les couleurs pour le mode sombre */
  --bs-secondary: #27ae60;
  --bs-success: #218838;
  --bs-info: #138496;
  --bs-warning: #e0a800;
  --bs-danger: #c82333;
  --bs-light: #343a40;
  --bs-dark: #f8f9fa;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
/* body{
  --bs-body-color: rgb(233, 0, 0);
} */
/* ul {
  text-align: center;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 20px 25px;
  font: size 16px;
  text-align: center;
}

ul li ul.dropdown li{
  display: block;
  margin: 2px 0px;
}

ul li ul.dropdown {
  width: auto;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover{
  background: #222;
}

ul li:hover ul.dropdown{
display: block;
} */
			#test {
				background-color: lightblue;
				width: 100%;
				height: 100px;
			}

			/* Media query pour les écrans de 1200px et plus */
			@media screen and (min-width: 900px) {
				#test {
					background-color: pink;
				}
			}