<div class="">
    <a class="navbar-brand d-flex flex-row align-items-center" href="{{ path('app_home') }}">
        <div class="bg-light mx-2 rounded bg-60 border border-dark">
            <img src="{{ asset('./image/pussay_logo.png') }}" alt="Logo" width="30" height="24" class="img-fluid"></div>
            <span class="text-light">
                Pussay
            </span>
        </a>
    </div>
    