{% extends 'base.html.twig' %}
{% block title %}
    Register
{% endblock %}
{% block body %}
    <div class="container vh-100" style="background-image:url('{{ asset('image/champ-arbres-herbe.jpg') }}');">
        <div class="row h-100 p-0">
            <div class="d-md-flex m-0 p-0 col-lg-6">
                <div class="container d-flex justify-content-center align-items-center bg-60 m-0 p-0">
                    {% block form %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
