<h1 class="mb-4">
    Conditions d'utilisation
</h1>
<p>
    <strong>
        Dernière mise à jour :
    </strong>
    {{ "now" | date }}
</p>
<section class="mb-4">
    <h2 class="h4">
        1. Acceptation des Conditions
    </h2>
    <p>
        En accédant à notre site web et en vous inscrivant, vous acceptez d'être lié par les présentes conditions d'utilisation. Nous nous réservons le droit de modifier ces conditions à tout moment sans préavis. Il est de votre responsabilité de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.
    </p>
</section>
<section class="mb-4">
    <h2 class="h4">
        2. Utilisation du Site
    </h2>
    <p>
        Vous acceptez d'utiliser ce site uniquement à des fins légales et conformément aux lois en vigueur. Il vous est interdit d'utiliser le site d'une manière qui pourrait endommager, désactiver, surcharger ou détériorer le site ou interférer avec l'utilisation et la jouissance du site par d'autres utilisateurs.
    </p>
</section>
<section class="mb-4">
    <h2 class="h4">
        3. Inscription et Sécurité du Compte
    </h2>
    <p>
        Pour accéder à certaines fonctionnalités, vous devez vous inscrire en fournissant des informations précises, complètes et à jour. Vous êtes responsable de la sécurité de votre compte et des activités effectuées sous votre compte. Vous devez informer immédiatement l'administration du site de toute utilisation non autorisée de votre compte ou de toute autre violation de la sécurité.
    </p>
</section>
<section class="mb-4">
    <h2 class="h4">
        4. Données Personnelles
    </h2>
    <p>
        Nous respectons votre vie privée. Veuillez consulter notre
        <a href="#" class="text-decoration-none">
            Politique de confidentialité
        </a>
        pour des informations détaillées sur la manière dont nous collectons, utilisons et protégeons vos données personnelles.
    </p>
</section>
<section class="mb-4">
    <h2 class="h4">
        5. Contenu Utilisateur
    </h2>
    <p>
        En publiant ou en téléchargeant du contenu sur notre site, vous nous accordez une licence non exclusive, mondiale, gratuite et perpétuelle pour utiliser, reproduire, modifier, afficher et distribuer ce contenu dans le cadre de l'exploitation du site. Vous déclarez et garantissez que vous détenez tous les droits nécessaires pour accorder cette licence.
    </p>
</section>
<section class="mb-4">
    <h2 class="h4">
        6. Comportement de l'Utilisateur
    </h2>
    <p>
        Vous vous engagez à ne pas :
    </p>
    <ul>
        <li>
            Publier ou transmettre du contenu illégal, diffamatoire, obscène, ou autrement répréhensible.
        </li>
        <li>
            Harceler, abuser ou nuire à d'autres utilisateurs.
        </li>
        <li>
            Utiliser le site à des fins de spam ou pour distribuer des virus ou tout autre code malveillant.
        </li>
        <li>
            Tenter d'accéder sans autorisation aux systèmes ou réseaux connectés à notre site.
        </li>
    </ul>
</section>
<section class="mb-4">
    <h2 class="h4">
        7. Propriété Intellectuelle
    </h2>
    <p>
        Tout le contenu de ce site, y compris mais sans s'y limiter, les textes, graphiques, logos, et images, est la propriété de notre société ou de nos concédants de licence et est protégé par les lois sur la propriété intellectuelle. Vous n'êtes pas autorisé à reproduire, distribuer, ou créer des œuvres dérivées de ce contenu sans notre autorisation écrite expresse.
    </p>
</section>
<section class="mb-4">
    <h2 class="h4">
        8. Exclusion de Garantie et Limitation de Responsabilité
    </h2>
    <p>
        Le site est fourni "tel quel" et "tel que disponible". Nous ne garantissons pas que le site sera ininterrompu ou exempt d'erreurs. Dans la mesure permise par la loi, nous déclinons toute responsabilité pour tout dommage résultant de l'utilisation ou de l'impossibilité d'utiliser le site.
    </p>
</section>
<section class="mb-4">
    <h2 class="h4">
        9. Résiliation
    </h2>
    <p>
        Nous nous réservons le droit de suspendre ou de résilier votre accès à tout ou partie du site à tout moment, avec ou sans préavis, pour toute conduite que nous considérons comme violant ces conditions d'utilisation.
    </p>
</section>
<section class="mb-4">
    <h2 class="h4">
        10. Droit Applicable
    </h2>
    <p>
        Les présentes conditions d'utilisation sont régies et interprétées conformément aux lois en vigueur dans [votre juridiction]. Vous acceptez de vous soumettre à la juridiction exclusive des tribunaux de [votre juridiction] pour tout litige résultant de ou lié à ces conditions d'utilisation.
    </p>
</section>
<section class="mb-4">
    <h2 class="h4">
        11. Contactez-nous
    </h2>
    <p>
        Si vous avez des questions concernant ces conditions d'utilisation, veuillez nous contacter à l'adresse suivante :
        <a href="mailto:contact@example.com" class="text-decoration-none">
            contact@example.com
        </a>
        .
    </p>
</section>
