<div class="w-100">
    <div>
        <a href="{{ path('app_home') }}" class='row align-items-center'>
            <div class="col-2 h-100 d-flex align-items-center justify-content-center">
                <img src="{{ asset('./image/pussay_logo.png') }}" alt="Logo mairie de pussay" class="img-fluid object-fit-contain" />
            </div>
            <div class="col-8 h-100">
                <img src="{{ asset('./image/accueil-bandeau-light-4.jpg') }}" alt="Photo mairie de pussay" class="img-fluid h-100 object-fit-cover" />
            </div>
            <div class="col-2 h-100 d-flex align-items-center justify-content-center">
                <img src="{{ asset('./image/territoire-engage-nature.png') }}" alt="Logo engagement territoire" class="img-fluid h-100 object-fit-contain" />
            </div>
        </a>
    </div>
</div>
