<nav class="navbar bg-30 navbar-expand-lg rounded">
    <div class="container-fluid">
        {% include './_part/_logoSite.html.twig' %}
        {% include './_part/_linkNavbar.html.twig' %}
    </div>
</nav>