{% import '_part/_recursive_categories.html.twig' as macros %}

{% macro recursive(category) %}
<ul role="button" data-bs-toggle="dropdown" aria-expanded="false">


	{% for category in categories %}
		<li class="nav-item">
			<a class="nav-link dropdown-toggle text-light" aria-current="page" href="{{ category.route ? path(category.route) : '' }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				{{ category.label }}
			</a>
			{% if category.subCategories|length > 0 %}
				{% _self.recursive(category.subCategories) %}
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}


{% macro recursive(category) %}
	{% if category.subCategories|length > 0 %}
		<ul role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<li>
				<a class="dropdown-item text-dark" href="{{ category.route ? path(category.route) : '' }}">
					{{ category.label }}
				</a>
				{% _self.recursive(category) %}
			</li>
		</ul>
	{% endif %}
{% endmacro %}
