{% extends 'base.html.twig' %}

{% block title %}
    Email de réinitialisation de mot de passe envoyé
{% endblock %}

{% block body %}
<div class="w-75 mx-auto mt-5">
    
        <p class="lead">
            {% trans %}
            Si un compte correspondant à votre adresse email existe, un email vient d'être envoyé. Ce dernier contient un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
            {% endtrans %}

            {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
            .
        </p>
        <p class="lead">
            {% trans %}
            Si vous ne recevez pas d'email, veuillez vérifier votre dossier spam ou
            {% endtrans %}

            <a href="{{ path('app_forgot_password_request') }}" class="link-primary">
                {{ 'réessayer'|trans }}
            </a>
            .
        </p>
    </div>
{% endblock %}
