{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="d-flex justify-content-center h-100 min-vh-100 align-items-center position-relative">
        <div class="col-auto col-md-6 col-lg-4 p-5">
            {% include './profil/delete.html.twig' %}
        </div>
    </div>
{% endblock %}
