<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        {% include './_part/_favicon.html.twig' %}

        {% include './_part/link.html.twig' %}
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body class="bg-page">
        <div class="position-relative">
            <div class="mx-auto w-100 container px-3 px-md-4 px-lg-5 bg-page">
                {% include './_part/header.html.twig' %}
            </div>
            <div class="bg-60 container px-0">

                <div class="mx-auto w-100  position-sticky top-0" style="z-index: 99;">

                    {% include './_part/navbar.html.twig' %}
                </div>

                <div class="mx-auto w-100 bg-60">

                    <div class="min-vh-100">

                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
            {% include './_part/footer.html.twig' %}
        </div>

    </body>
</html>
