<!doctype html>
<html lang="en">
    <head>
        <title>
            {% block title %}
                {{ "Mairie-bienvenue"|trans }}
            {% endblock %}
        </title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% include './_part/_favicon.html.twig' %}
        <!-- Bootstrap CSS v5.2.1 -->
        {% include './_part/link.html.twig' %}
    </head>
    <body class="bg-page">
        <div class="container">
            <div class="bg-60">
                <header class="bg-page">
                    {% include './_part/header.html.twig' %}
                </header>
                <main class="min-vh-100 position-relative">
                    {% include './_part/navbar.html.twig' %}
                    {% include './_part/_flashbag.html.twig' %}
                    {% block body %}{% endblock %}
                    <div class=" position-fixed top-50 start-50 translate-middle">

                        <div id="spinner" class="spinner-border text-primary" role="status" style="display:none">
                            <span class="visually-hidden">
                                Loading...
                            </span>
                        </div>

                    </div>
                </main>
                <footer>
                    {% include './_part/footer.html.twig' %}
                </footer>
            </div>
        </div>
        {% block script_specifique %}{% endblock %}
    </body>
</html>
