<nav class="navbar navbar-expand-md bg-light w-100">
    <div class="container-fluid">
        <!-- Bouton de basculement (Toggle Button) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarActions" aria-controls="navbarActions" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenu de la navbar -->
        <div class="collapse navbar-collapse" id="navbarActions">
            <form id="formSearch" class="d-flex me-auto my-3 my-md-0" role="search">
                <input class="form-control me-2" type="search" placeholder="Recherche par email, nom..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">
                        <i class="fab fa-sistrix"></i>
                    </button>
                </form>
                <div class="d-flex flex-column flex-md-row grid gap-2">
                    <a class='btn btn-success w-100' href="{{ path('app_register') }}">
                        <i class="fas fa-plus"></i>
                        <span class="d-md-none">
                            Inscription
                        </span>
                    </a>
                    <button class="btn btn-primary w-100" id="btn-show">
                        <i class="fas fa-eye"></i>
                        <span class="d-md-none">
                            Afficher
                        </span>
                    </button>
                    <button class="btn btn-warning w-100" id="btn-edit">
                        <i class="fas fa-pencil"></i>
                        <span class="d-md-none">
                            Modifier
                        </span>
                    </button>
                    <button class="btn btn-danger w-100" id="btn-delete">
                        <i class="fas fa-trash-can"></i>
                        <span class="d-md-none">
                            Supprimer
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
{% block script_specifique %}
<script src="{{asset('./js/crudS.js')}}"></script>
<script src="{{asset('./js/makeRequest.js')}}"></script>
{% endblock %}


    