<!-- Button trigger modal -->
<button type="button" class="d-none" id="buttonActionModal" data-bs-toggle="modal" data-bs-target="#modalId"></button>
<!-- Modal -->
<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
<div class="modal-dialog modal-xl modal-dialog-centered" id="modalBox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                Body
            </div>
        </div>
    </div>
</div>



