{% extends 'base.html.twig' %}
{% block title %}
	{{'Mairie-Liste des Profiles'|trans}}
{% endblock %}

{% block body %}
	{%include 'user/_modal.html.twig' %}
	{%include 'user/_modal_lg.html.twig' %}
	<div class="container mt-5 px-2 min-vh-100#">
		<div id="alert-container" class="container my-3 position-absolute top-0 w-100"></div>

		<div class="mb-2 d-flex flex-column justify-content-between align-items-center mt-3">
			{% include 'user/_crud_s.html.twig' %}
			<div id="targetTable" class="table-responsive w-100" style='max-height:70vh'>
				{% include 'user/_table.html.twig' %}
			</div>
		</div>

		 <script>
				        // Fonction pour basculer l'état de la case à cocher
				        function toggleCheckbox(checkboxId) {
				            const checkbox = document.getElementById(checkboxId);
				            // Si la case à cocher est trouvée, changez son état
				            if (checkbox) {
				                checkbox.checked = !checkbox.checked;
				            }
				        }
				
				            // Empêcher le comportement de propagation du clic sur la case à cocher
				            document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
				                checkbox.addEventListener('click', function(event) {
				                    event.stopPropagation();
				                });
				            });
				
				
				        function toggleSelectAll() {
				        const selectAllCheckbox = document.getElementById('selectAll');
				        const checkboxes = document.querySelectorAll('tbody input[type="checkbox"]');
				
				        checkboxes.forEach(checkbox => {
				            checkbox.checked = selectAllCheckbox.checked;
				        });
				    }
				        </script>
	{% endblock %}
	{% block script_specifique %}
		 <script src="{{asset('js/resetPassword.js')}}"></script>

	{% endblock %}
